@charset 'UTF-8';
*{
    padding: 0;
    margin: 0;
}
html, body{
    background-color: rgb(40, 40, 245);
}
header h1{
    text-align: center;
    color: white;
    margin: 20px;
}
/*----------------------------------*/
.section{
    display: flex;
    justify-content: center;
}
section{
    background-color: white;
    width: 40vw;
    height: max-content;
    border-radius: 14px;
    padding: 20px;
}
section > div > p{
    padding: 20px;
}
select{
    width: 385px;
    margin: 20px;
    border-radius: 5px;
}
#res{
    font: normal normal 1.2em 'Arial';
    color: black;
}
/*----------------------*/
footer h2, a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 20px;
}
a:hover{
    text-decoration: underline;
}
